* {
  padding: 0%;
  margin: 0%;
  border: 0%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "HeliosBlackC";
  src: local("Alethia Next Light"), local("AlethiaNext-Light"), url("../fonts/HeliosBlackC_Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-family: "HeliosExtC";
  src: local("Alethia Next Light"), local("AlethiaNext-Light"), url("../fonts/HeliosExtC_Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-family: "HeliosExtC";
  src: local("Alethia Next Light"), local("AlethiaNext-Light"), url("../fonts/HeliosExtC_Bold.otf");
  font-weight: 700;
  font-style: normal;
}
a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.lock {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 20px;
}

.header_background {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  z-index: 12;
  transition: all 0.5s;
  padding-bottom: 30px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 46px;
}
.header__logo {
  flex: 1 1 auto;
  width: 28px;
  height: 28px;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 45px;
}
.header-menu__text {
  position: relative;
  color: #FFF;
  font-family: "Plus Jakarta Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.header-menu__text::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #00DBDE;
  left: 0;
  bottom: -8px;
  transform: scaleX(0);
  transition: transform 0.25s;
  transform-origin: left;
}
.header-menu__text:hover::before {
  transform: scaleX(1);
  transition: transform 0.25s;
}

@media (max-width: 1000px) {
  .burger-backdrop {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .burger-backdrop.active {
    display: block;
  }
  .header-content {
    padding: 40px 5px 0 5px;
  }
  .header-burger {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 7px;
    order: 2;
  }
  .header-burger__span-top {
    height: 2px;
    width: 32px;
    background: #FFFFFF;
    z-index: 13;
    transition: all 0.3s ease-in-out;
  }
  .header-burger__span-middle {
    margin-left: 15px;
    height: 2px;
    width: 17px;
    background: #FFFFFF;
    z-index: 13;
    transition: all 0.3s ease-in-out;
  }
  .header-burger__span-bottom {
    margin-left: 7px;
    height: 2px;
    width: 24px;
    background: #FFFFFF;
    z-index: 13;
    transition: all 0.3s ease-in-out;
  }
  .header .header-burger.active .header-burger__span-middle {
    opacity: 0;
  }
  .header .header-burger.active .header-burger__span-top {
    margin-left: -1px;
    width: 28px;
    transform: translateY(8px) translateX(5px) rotate(45deg);
  }
  .header .header-burger.active .header-burger__span-bottom {
    margin-left: 8px;
    width: 28px;
    transform: translateY(-8px) translateX(-4px) rotate(-45deg);
  }
  .header-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 39%;
    height: 100%;
    background-image: url(../img/header/burger-background.png);
    background-size: cover;
    padding: 100px 100px 100px 50px;
    transition: right 0.3s ease 0s;
    overflow: auto;
    display: flex;
    flex-direction: column;
    z-index: 12;
    align-items: start;
  }
  .header .active {
    right: 0;
  }
  .header .remove {
    right: -100%;
  }
}
@media (max-width: 768px) {
  .header-menu {
    width: 50%;
  }
}
@media (max-width: 540px) {
  .header-menu {
    width: 100%;
  }
}
.shared {
  z-index: 1;
}
.shared__background {
  background-image: url(../img/shared/background.png);
  background-size: cover;
  width: 100%;
  height: 1010px;
  z-index: -3;
}
.shared-blurs {
  position: relative;
  z-index: 1;
}
.shared-blur__first {
  position: absolute;
  top: 155px;
  left: 180px;
  z-index: -1;
}
.shared-blur__second {
  width: 147px;
  height: 147px;
  border-radius: 1000px;
  background: #7A59FF;
  filter: blur(149.5px);
  position: absolute;
  top: 80px;
  left: 50px;
  z-index: -1;
}
.shared-blur__third {
  width: 378px;
  height: 378px;
  border-radius: 1000px;
  background: #25044E;
  filter: blur(100px);
  position: absolute;
  top: 700px;
  left: 50px;
  z-index: -1;
}
.shared-blur__fourth {
  width: 859.184px;
  height: 372.671px;
  transform: rotate(166.457deg);
  border-radius: 859.184px;
  opacity: 0.2;
  background: #A109FE;
  filter: blur(218px);
  position: absolute;
  top: 700px;
  right: -100px;
  z-index: -1;
}
.shared-content {
  padding-top: 325px;
  margin-bottom: 0px;
}
.shared-info {
  margin-top: 150px;
  border-left: 6px solid #7F5CFF;
  background-image: url(../img/shared/brush.svg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 61px;
  transform: translateY(-200px);
  max-width: 1348px;
}
.shared-info__title {
  color: #FFF;
  font-family: "Plus Jakarta Display";
  font-size: clamp(16px, 2.5vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 28px */
  text-transform: uppercase;
  opacity: 0.7;
  padding-top: 15px;
}
.shared-info__subtitle {
  color: #FFF;
  font-family: "HeliosExtC";
  font-size: clamp(26px, 2.5vw, 48px);
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 67.2px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
  padding-top: 16px;
  max-width: 753px;
}
.shared-info__subtitle span {
  display: inline-block;
  background-image: url(../img/shared/plain.svg);
  height: 46px;
  width: 46px;
}
.shared-info__button {
  margin-top: 65px;
  margin-bottom: 25px;
  width: 209px;
  height: 60px;
  padding: 16px 24px;
  border-radius: 6px;
  border: 0px solid rgba(255, 255, 255, 0.56);
  background: linear-gradient(99deg, #7A42F4 0%, #4642F4 100%), #FFF;
  transition: all 0.5s ease;
}
.shared-info__button-text {
  color: #FFF;
  font-family: "HeliosBlackC";
  font-size: clamp(16.219px, 2.5vw, 18px);
  font-style: normal;
  font-weight: 900;
  line-height: 145%;
  /* 26.1px */
}
.shared-info__button:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

@media (max-width: 700px) {
  .shared__background {
    background-image: url(../img/shared/mobile/background-mobile.png);
    background-size: cover;
    width: 100%;
    min-height: 787px;
  }
}
.about__background {
  background-image: url(../img/about/background.png);
  background-size: cover;
  width: 100%;
  height: 1038px;
}
.about-content {
  padding-top: 250px;
}
.about-info {
  height: 585px;
  border-left: 6px solid #56FFEB;
  background-image: url(../img/shared/brush.svg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 61px;
  max-width: 669px;
  position: relative;
}
.about-info__title {
  padding-top: 55px;
  color: #FFF;
  font-family: "Plus Jakarta Display";
  font-size: clamp(16px, 2.5vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 28px */
  text-transform: uppercase;
  opacity: 0.7;
}
.about-info__subtitle {
  color: #FFF;
  text-align: left;
  font-family: "HeliosExtC";
  font-size: clamp(28px, 2.5vw, 45px);
  font-style: normal;
  font-weight: 700;
  line-height: 109%;
  /* 49.05px */
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 27px;
}
.about-swiper {
  max-width: 622px;
}
.about-slide p {
  color: #FFF;
  font-family: "Plus Jakarta Display";
  font-size: clamp(16px, 2.5vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 32px */
  opacity: 0.8;
  max-width: 612px;
}
.about__navigation {
  padding-top: 100px;
  max-width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__navigation-prev {
  cursor: pointer;
}
.about__navigation-next {
  cursor: pointer;
}
.about__navigation-text {
  color: #FFF;
  font-family: "HeliosExtC";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%;
  /* 26.1px */
  text-transform: uppercase;
}
.about__pagination {
  max-width: 380px;
  --swiper-theme-color: #7F5CFF;
  --swiper-navigation-size: 10px;
}
.about__pagination-ellipse {
  position: absolute;
  left: 7%;
  bottom: 8.5%;
  width: 30px;
  height: 30px;
}
.about .swiper-pagination-progressbar.swiper-pagination-horizontal {
  top: unset;
  bottom: 11%;
  left: 11%;
}/*# sourceMappingURL=style.css.map */