* {
  padding: 0%;
  margin: 0%;
  border: 0%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "HeliosBlackC";
  src: local("Alethia Next Light"), local("AlethiaNext-Light"), url("../fonts/HeliosBlackC_Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-family: "HeliosExtC";
  src: local("Alethia Next Light"), local("AlethiaNext-Light"), url("../fonts/HeliosExtC_Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-family: "HeliosExtC";
  src: local("Alethia Next Light"), local("AlethiaNext-Light"), url("../fonts/HeliosExtC_Bold.otf");
  font-weight: 700;
  font-style: normal;
}
a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.lock {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1660px;
  margin: 0 auto;
  padding: 0 20px;
}

.header_background {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  z-index: 12;
  transition: all 0.5s;
  padding-bottom: 30px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 46px;
}
.header__logo {
  flex: 1 1 auto;
  width: 28px;
  height: 28px;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 45px;
}
.header-menu__text {
  position: relative;
  color: #FFF;
  opacity: 0.7;
  font-family: "Plus Jakarta Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  transition: all 0.25s ease;
}
.header-menu__text::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #00DBDE;
  left: 0;
  bottom: -8px;
  transform: scaleX(0);
  transition: transform 0.25s;
  transform-origin: left;
}
.header-menu__text:hover::before {
  transform: scaleX(1);
  transition: transform 0.25s;
}
.header-menu__text:hover {
  opacity: 1;
  transition: all 0.25s ease;
}

@media (max-width: 1000px) {
  .burger-backdrop {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .burger-backdrop.active {
    display: block;
  }
  .header-content {
    padding: 40px 5px 0 5px;
  }
  .header-burger {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 7px;
    order: 2;
  }
  .header-burger__span-top {
    height: 2px;
    width: 32px;
    background: #FFFFFF;
    z-index: 13;
    transition: all 0.3s ease-in-out;
  }
  .header-burger__span-middle {
    margin-left: 15px;
    height: 2px;
    width: 17px;
    background: #FFFFFF;
    z-index: 13;
    transition: all 0.3s ease-in-out;
  }
  .header-burger__span-bottom {
    margin-left: 7px;
    height: 2px;
    width: 24px;
    background: #FFFFFF;
    z-index: 13;
    transition: all 0.3s ease-in-out;
  }
  .header .header-burger.active .header-burger__span-middle {
    opacity: 0;
  }
  .header .header-burger.active .header-burger__span-top {
    margin-left: -1px;
    width: 28px;
    transform: translateY(8px) translateX(5px) rotate(45deg);
  }
  .header .header-burger.active .header-burger__span-bottom {
    margin-left: 8px;
    width: 28px;
    transform: translateY(-8px) translateX(-4px) rotate(-45deg);
  }
  .header-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 39%;
    height: 100%;
    background-image: url(../img/header/burger-background.png);
    background-size: cover;
    padding: 100px 100px 100px 50px;
    transition: right 0.3s ease 0s;
    overflow: auto;
    display: flex;
    flex-direction: column;
    z-index: 12;
    align-items: start;
  }
  .header .active {
    right: 0;
  }
  .header .remove {
    right: -100%;
  }
}
@media (max-width: 768px) {
  .header-menu {
    width: 50%;
  }
}
@media (max-width: 540px) {
  .header-menu {
    width: 100%;
  }
}
.shared {
  z-index: 1;
}
.shared__background {
  background-image: url(../img/shared/background.png);
  background-size: cover;
  width: 100%;
  height: 1010px;
  z-index: -3;
}
.shared-blurs {
  position: relative;
  z-index: 1;
}
.shared-blur__first {
  position: absolute;
  width: 1847px;
  height: 1172px;
  top: -255px;
  right: 35%;
  max-width: 100%;
  vertical-align: top;
  overflow: clip;
}
.shared-blur__second {
  position: absolute;
  width: 840px;
  height: 543px;
  top: -100px;
  left: -207px;
  max-width: 100%;
  vertical-align: top;
  overflow: clip;
}
.shared-blur__third {
  position: absolute;
  width: 840px;
  height: 543px;
  top: 620px;
  left: -57px;
  max-width: 100%;
  vertical-align: top;
  overflow: clip;
}
.shared-blur__fourth {
  position: absolute;
  width: 1249px;
  height: 888px;
  top: 444px;
  right: -131px;
  max-width: 100%;
  vertical-align: top;
  overflow: clip;
}
.shared-content {
  padding-top: 325px;
  margin-bottom: 0px;
}
.shared-info {
  margin-top: 150px;
  border-left: 6px solid #7F5CFF;
  background-image: url(../img/shared/brush.svg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 61px;
  transform: translateY(-200px);
  max-width: 1348px;
}
.shared-info__title {
  color: #FFF;
  font-family: "Plus Jakarta Display";
  font-size: clamp(16px, 2.5vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 28px */
  text-transform: uppercase;
  opacity: 0.7;
  padding-top: 15px;
}
.shared-info__subtitle {
  color: #FFF;
  font-family: "HeliosExtC";
  font-size: clamp(26px, 2.5vw, 48px);
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 67.2px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
  padding-top: 16px;
  max-width: 753px;
}
.shared-info__subtitle-span-desctop {
  display: inline-block;
  background-image: url(../img/shared/plain.svg);
  height: 46px;
  width: 46px;
}
.shared-info__subtitle-span-mobile {
  display: none;
}
.shared-info__button {
  margin-top: 65px;
  margin-bottom: 25px;
  width: 209px;
  height: 60px;
  padding: 16px 24px;
  border-radius: 6px;
  border: 0px solid rgba(255, 255, 255, 0.56);
  background: linear-gradient(99deg, #7A42F4 0%, #4642F4 100%), #FFF;
  transition: all 0.5s ease;
}
.shared-info__button-text {
  color: #FFF;
  font-family: "HeliosBlackC";
  font-size: clamp(16.219px, 2.5vw, 18px);
  font-style: normal;
  font-weight: 900;
  line-height: 145%;
  /* 26.1px */
}
.shared-info__button:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

@media (max-width: 700px) {
  .shared__background {
    background-image: url(../img/shared/mobile/background-mobile.png);
    background-size: cover;
    width: 100%;
    max-height: 787px;
  }
  .shared-content {
    padding-top: 265px;
  }
  .shared-info {
    padding-left: 19px;
  }
  .shared-info__button {
    margin-top: 12px;
    width: 188.32px;
    height: 54.063px;
  }
  .shared-info__subtitle-span-desctop {
    display: none;
  }
  .shared-info__subtitle-span-mobile {
    display: inline-block;
    background-image: url(../img/shared/mobile/plain.svg);
    width: 28.162px;
    height: 28.162px;
  }
}
.about__background {
  background-image: url(../img/about/background.png);
  background-size: cover;
  width: 100%;
  height: 1038px;
}
.about-content {
  padding-top: 250px;
  display: flex;
  flex-direction: column;
}
.about__people {
  display: none;
}
.about-info {
  height: 585px;
  border-left: 6px solid #56FFEB;
  background-image: url(../img/shared/brush.svg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 61px;
  max-width: 669px;
  position: relative;
}
.about-info__title {
  padding-top: 55px;
  color: #FFF;
  font-family: "Plus Jakarta Display";
  font-size: clamp(16px, 2.5vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 28px */
  text-transform: uppercase;
  opacity: 0.7;
}
.about-info__subtitle {
  color: #FFF;
  text-align: left;
  font-family: "HeliosExtC";
  font-size: clamp(28px, 2.5vw, 45px);
  font-style: normal;
  font-weight: 700;
  line-height: 109%;
  /* 49.05px */
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 27px;
}
.about-swiper {
  width: 100%;
}
.about-wrapper {
  width: 100%;
}
.about-slide {
  width: 100%;
}
.about-slide p {
  color: #FFF;
  font-family: "Plus Jakarta Display";
  font-size: clamp(16px, 2.5vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 32px */
  opacity: 0.8;
  max-width: 612px;
}
.about__navigation {
  padding-top: 100px;
  max-width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__navigation-prev {
  cursor: pointer;
}
.about__navigation-next {
  cursor: pointer;
}
.about__navigation-text {
  color: #FFF;
  font-family: "HeliosExtC";
  font-size: clamp(16px, 2.5vw, 18px);
  font-style: normal;
  font-weight: 700;
  line-height: 145%;
  /* 26.1px */
  text-transform: uppercase;
}
.about__pagination {
  --swiper-theme-color: #7F5CFF;
  --swiper-navigation-size: 10px;
}
.about__pagination-ellipse {
  position: absolute;
  left: 8.8%;
  bottom: 8.5%;
  width: 30px;
  height: 30px;
}
.about .swiper-pagination-progressbar.swiper-pagination-horizontal {
  top: unset;
  bottom: 11%;
  left: 12%;
  width: 58%;
  z-index: 1;
}

@media (max-width: 800px) {
  .about .swiper-pagination-progressbar.swiper-pagination-horizontal {
    top: unset;
    bottom: 18%;
    left: 13%;
    width: 58%;
  }
  .about__pagination-ellipse {
    bottom: 15.5%;
  }
}
@media (max-width: 700px) {
  .about-info {
    padding-left: 19px;
  }
  .about .swiper-pagination-progressbar.swiper-pagination-horizontal {
    left: 8%;
  }
  .about__pagination-ellipse {
    left: 4.8%;
  }
}
@media (max-width: 650px) {
  .about .swiper-pagination-progressbar.swiper-pagination-horizontal {
    top: unset;
    bottom: 18%;
    left: 8.5%;
    width: 65%;
  }
}
@media (max-width: 600px) {
  .about .swiper-pagination-progressbar.swiper-pagination-horizontal {
    top: unset;
    bottom: 18%;
    left: 9%;
    width: 80%;
  }
}
@media (max-width: 500px) {
  .about .swiper-pagination-progressbar.swiper-pagination-horizontal {
    top: unset;
    bottom: 14%;
    left: 9.5%;
    width: 88%;
  }
  .about__pagination-ellipse {
    bottom: 12%;
    left: 4%;
  }
}
@media (max-width: 390px) {
  .about__background {
    background-image: none;
    background-color: #01001F;
    height: 1078px;
  }
  .about-content {
    padding-top: 0;
    position: relative;
  }
  .about__people {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .about__people img {
    width: 100%;
  }
  .about-info {
    margin-top: 444px;
  }
  .about-info__title {
    padding-top: 0;
  }
  .about .swiper-pagination-progressbar.swiper-pagination-horizontal {
    top: unset;
    bottom: 13.5%;
    left: 13.5%;
    width: 84%;
  }
  .about__pagination-ellipse {
    bottom: 11.5%;
    left: 8%;
    width: 25.872px;
    height: 25.872px;
  }
  .about__navigation {
    padding-top: 62px;
  }
}
@media (max-width: 350px) {
  .about .swiper-pagination-progressbar.swiper-pagination-horizontal {
    left: 14.5%;
  }
  .about__navigation {
    padding-top: 82px;
  }
}
.roadmap-background {
  background: #090812;
}
.roadmap__title {
  padding-top: 215px;
  color: #FFF;
  text-align: center;
  font-family: "Plus Jakarta Display";
  font-size: clamp(16px, 2.5vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 28px */
  text-transform: uppercase;
}
.roadmap__subtitle {
  padding-top: 16px;
  color: #FFF;
  text-align: center;
  font-family: "HeliosExtC";
  font-size: clamp(28px, 2.5vw, 45px);
  font-style: normal;
  font-weight: 700;
  line-height: 109%;
  /* 49.05px */
  text-transform: uppercase;
}
.roadmap-content {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 190px;
  position: relative;
}
.roadmap__stars {
  position: absolute;
  top: 6%;
  left: 47%;
  transform: translateX(-53%);
}
.roadmap-item-first {
  display: flex;
  padding: 90px 0 0 70px;
}
.roadmap-item-second {
  display: flex;
  justify-content: end;
  padding: 76px 55px 0 0;
}
.roadmap-item-second .roadmap-item-circle {
  order: 1;
}
.roadmap-item-second .roadmap-item-wrapper {
  order: 2;
}
.roadmap-item-third {
  display: flex;
  padding: 10px 0 0 45px;
}
.roadmap-item-fourth {
  display: flex;
  justify-content: end;
  padding: 208px 10px 0px 0;
}
.roadmap-item-fourth .roadmap-item-circle {
  order: 1;
}
.roadmap-item-fourth .roadmap-item-wrapper {
  order: 2;
}
.roadmap-item-info {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  position: relative;
}
.roadmap-item-info__title {
  color: #FFF;
  font-family: "Plus Jakarta Display";
  font-size: clamp(20px, 2.5vw, 22px);
  font-style: normal;
  font-weight: 700;
  line-height: 127%;
  padding-top: 4px;
  /* 30.8px */
}
.roadmap-item-info-textblock {
  padding-top: 5px;
}
.roadmap-item-info-textblock__text {
  padding-top: 15px;
  padding-left: 37px;
  color: #FFF;
  font-family: "Plus Jakarta Display";
  font-size: clamp(15px, 2.5vw, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 119%;
  /* 25.2px */
  letter-spacing: 0.18px;
  opacity: 0.8;
  position: relative;
}
.roadmap-item-info-textblock__text::before {
  content: "";
  background-image: url(../img/roadmap/for-text.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  left: 0px;
}
.roadmap-item-info-textblock__text:last-child {
  margin-bottom: 23px;
}
.roadmap-item-info-textblock li {
  padding-left: 60px;
  color: #FFF;
  font-family: "Plus Jakarta Display";
  font-size: clamp(15px, 2.5vw, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 25.2px */
  letter-spacing: 0.18px;
  opacity: 0.8;
  position: relative;
}
.roadmap-item-info-textblock li:before {
  content: ".";
  position: absolute;
  bottom: 15%;
  left: 7%;
}
.roadmap-item-info-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  cursor: pointer;
}
.roadmap-item-info-nav__text {
  color: #FFF;
  font-family: "HeliosExtC";
  font-size: clamp(16px, 2.5vw, 18px);
  font-style: normal;
  font-weight: 700;
  line-height: 145%;
  /* 26.1px */
  text-transform: capitalize;
}
.roadmap-item-info-nav__arrow {
  padding-top: 5px;
}
.roadmap-item-info-nav__arrow-img {
  transition: transform 0.5s ease;
}
.roadmap-item-info__content {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 100%;
}
.roadmap-item-info__content-text {
  padding-top: 15px;
  padding-left: 37px;
  color: #FFF;
  font-family: "Plus Jakarta Display";
  font-size: clamp(15px, 2.5vw, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 25.2px */
  letter-spacing: 0.18px;
  opacity: 0.8;
  position: relative;
}
.roadmap-item-info__content-text::before {
  content: "";
  background-image: url(../img/roadmap/for-text.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 15px;
  left: 0px;
}
.roadmap .roadmap-item-info.active .roadmap-item-info__content {
  max-height: 300px;
  animation: fade 0.5s ease-in-out;
}
.roadmap .roadmap-item-info.active .roadmap-item-info-nav__arrow-img {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.roadmap-item-circle {
  position: relative;
}
.roadmap-item-circle__pulse {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.roadmap-item-circle .pulse_first {
  background: rgb(131, 48, 254);
  margin: 25px 0px 0 0px;
}
.roadmap-item-circle .pulse_second {
  background: rgb(255, 134, 255);
  margin-right: 65px;
}
.roadmap-item-circle .pulse_third {
  background: rgb(65, 251, 191);
  margin: 17px 0 0 35px;
}
.roadmap-item-circle .pulse_fourth {
  background: rgb(72, 132, 255);
  margin: 25px 60px 0 0;
}
.roadmap-item-circle__pulse span {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background: inherit;
  border-radius: inherit;
  animation: pulseAnimate 4s ease-in-out infinite;
  animation-delay: calc(1s * var(--i));
}
@keyframes pulseAnimate {
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
.roadmap-item-circle__pulse-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 3;
  opacity: 0.5;
}
.roadmap-item-circle .pulse-center_first {
  background: rgb(255, 222, 255);
}
.roadmap-item-circle .pulse-center_second {
  background: rgb(255, 236, 255);
}
.roadmap-item-circle .pulse-center_third {
  background: rgb(235, 255, 255);
}
.roadmap-item-circle .pulse-center_fourth {
  background: rgb(233, 255, 255);
}
.roadmap-item-circle__pulse-around-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 3;
  opacity: 0.5;
}
.roadmap-item-circle .pulse-around-center_first {
  background: rgb(223, 90, 255);
}
.roadmap-item-circle .pulse-around-center_second {
  background: rgb(253, 155, 235);
}
.roadmap-item-circle .pulse-around-center_third {
  background: rgb(141, 255, 255);
}
.roadmap-item-circle .pulse-around-center_fourth {
  background: rgb(135, 237, 255);
}

@media (max-width: 1240px) {
  .roadmap-item-info__content {
    position: static;
  }
  .roadmap-item-third {
    padding: 60px 0 0 45px;
  }
  .roadmap-item-fourth {
    padding: 50px 10px 0px 0;
  }
}
@media (max-width: 768px) {
  .roadmap-content {
    padding-bottom: 160px;
  }
  .roadmap-item-circle__pulse {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .roadmap-item-circle__pulse-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 3;
    opacity: 0.5;
  }
  .roadmap-item-circle__pulse-around-center {
    width: 30px;
    height: 30px;
  }
  .roadmap-item-info-textblock {
    padding-top: 10px;
  }
  .roadmap-item-info-textblock__text {
    padding-top: 17.96px;
  }
  .roadmap-item-info-textblock li:before {
    content: ".";
    position: absolute;
    bottom: 16%;
    left: 12%;
  }
  .roadmap-item-first {
    flex-direction: column;
    padding: 18px 0 0 0;
  }
  .roadmap-item-first .roadmap-item-circle {
    display: flex;
    justify-content: end;
    order: 1;
  }
  .roadmap-item-first .roadmap-item-circle .pulse_first {
    background: rgb(131, 48, 254);
    margin: 50px 63px 0 0px;
  }
  .roadmap-item-first .roadmap-item-info {
    padding-top: 0;
    order: 2;
  }
  .roadmap-item-first .roadmap-item-info__title {
    padding-top: 8px;
  }
  .roadmap-item-wrapper {
    display: flex;
    justify-content: end;
  }
  .roadmap-item-second {
    flex-direction: column-reverse;
    padding: 70px 0px 0 0;
    width: 100%;
  }
  .roadmap-item-second .roadmap-item-circle .pulse_second {
    background: rgb(255, 134, 255);
    margin: 0px 0px 0px 60px;
  }
  .roadmap-item-second .roadmap-item-wrapper {
    order: 1;
  }
  .roadmap-item-second .roadmap-item-info {
    justify-content: end;
    padding-top: 40px;
  }
  .roadmap-item-third {
    flex-direction: column;
    padding: 27px 0 0 0px;
  }
  .roadmap-item-third .roadmap-item-circle {
    display: flex;
    justify-content: end;
    order: 1;
  }
  .roadmap-item-third .roadmap-item-circle .pulse_third {
    background: rgb(65, 251, 191);
    margin: 0px 60px 0 0px;
  }
  .roadmap-item-third .roadmap-item-info {
    order: 2;
    padding-top: 40px;
  }
  .roadmap-item-fourth {
    flex-direction: column-reverse;
    padding: 50px 0px 0px 0;
  }
  .roadmap-item-fourth .roadmap-item-circle .pulse_fourth {
    background: rgb(72, 132, 255);
    margin: 22px 0px 0 45px;
  }
  .roadmap-item-fourth .roadmap-item-wrapper {
    order: 1;
  }
  .roadmap-item-fourth .roadmap-item-info {
    justify-content: end;
    padding-top: 56px;
  }
}
@media (max-width: 390px) {
  .roadmap__title {
    padding-top: 95px;
  }
  .roadmap__stars {
    width: 100%;
  }
}
.brands {
  background: linear-gradient(180deg, rgba(36, 10, 92, 0.63) 8.97%, rgba(36, 11, 88, 0.3) 100%);
  -webkit-backdrop-filter: blur(150px);
          backdrop-filter: blur(150px);
  background-color: #18072d;
  width: 100%;
  height: auto;
}
.brands-background {
  background-image: url(../img/brands/brush-background.png);
}
.brands__title {
  padding-top: 108px;
  color: #FFF;
  text-align: center;
  font-family: "Plus Jakarta Display";
  font-size: clamp(16px, 2.5vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 28px */
  text-transform: uppercase;
}
.brands__subtitle {
  padding-top: 22px;
  color: #FFF;
  text-align: center;
  font-family: "HeliosExtC";
  font-size: clamp(28px, 2.5vw, 45px);
  font-style: normal;
  font-weight: 700;
  line-height: 109%;
  /* 49.05px */
  text-transform: uppercase;
}
.brands-content {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  gap: 15px;
}
.brands-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brands-item__img {
  max-width: 100%;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.brands-item__img:hover {
  transform: translateY(-50px);
  transition: all 0.5s ease-in;
}
.brands-item__title::after {
  content: "";
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  height: 6px;
  border-radius: 48px;
  background: #06D6DF;
  box-shadow: 0px 0px 4px 0px rgba(56, 219, 255, 0.5);
}
.brands-item__title::before {
  content: "";
  position: absolute;
  top: 65px;
  transform: rotate(180deg);
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1px;
  background: linear-gradient(359deg, rgba(56, 219, 255, 0.14) 0.58%, rgba(56, 219, 255, 0) 42.57%);
}
.brands-item__title {
  padding-top: 118px;
  color: #FFF;
  text-align: center;
  font-family: "HeliosExtC";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 22.4px */
  text-transform: uppercase;
  width: 100%;
  position: relative;
}
.brands-item__text {
  padding-top: 7px;
  color: #FFF;
  text-align: center;
  font-family: "Plus Jakarta Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  /* 28.8px */
  letter-spacing: 0.18px;
  max-width: 385px;
  opacity: 0.6;
  padding-bottom: 135px;
}
.brands-item:nth-child(2) .brands-item__title {
  padding-top: 126px;
}
.brands-item:nth-child(2) .brands-item__title::after {
  top: 75px;
  background: #7B71EE;
}
.brands-item:nth-child(2) .brands-item__title::before {
  top: 75px;
}
.brands-item:nth-child(3) .brands-item__title {
  padding-top: 118px;
}
.brands-item:nth-child(3) .brands-item__title::after {
  background: #F00AFE;
}
.brands-item:nth-child(3) .brands-item__text {
  padding-top: 30px;
}

@media (max-width: 1224px) {
  .brands-content {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .brands-item__img:hover {
    transform: translateY(0px);
  }
  .brands-item__text {
    padding-bottom: 44px;
  }
}
@media (max-width: 420px) {
  .brands__title {
    padding-top: 75px;
  }
  .brands__subtitle {
    padding-top: 16px;
  }
  .brands-content {
    padding-top: 68px;
    gap: 0;
  }
  .brands-item__title::after {
    top: 55px;
  }
  .brands-item__title::before {
    top: 55px;
  }
  .brands-item__title {
    padding-top: 91px;
  }
  .brands-item__text {
    padding-top: 13px;
  }
  .brands-item:nth-child(2) .brands-item__title::after {
    top: 70px;
  }
  .brands-item:nth-child(2) .brands-item__title::before {
    top: 75px;
  }
  .brands-item:nth-child(2) .brands-item__title {
    padding-top: 107px;
  }
  .brands-item:nth-child(2) .brands-item__text {
    padding-top: 13px;
  }
  .brands-item:nth-child(3) .brands-item__title::after {
    top: 63px;
  }
  .brands-item:nth-child(3) .brands-item__title::before {
    top: 65px;
  }
  .brands-item:nth-child(3) .brands-item__title {
    padding-top: 100px;
  }
  .brands-item:nth-child(3) .brands-item__text {
    padding-top: 13px;
    padding-bottom: 65px;
  }
}/*# sourceMappingURL=style.css.map */