* {
  padding: 0%;
  margin: 0%;
  border: 0%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "HeliosBlackC";
  src: local("Alethia Next Light"), local("AlethiaNext-Light"), url("../fonts/HeliosBlackC_Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-family: "HeliosExtC";
  src: local("Alethia Next Light"), local("AlethiaNext-Light"), url("../fonts/HeliosExtC_Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-family: "HeliosExtC";
  src: local("Alethia Next Light"), local("AlethiaNext-Light"), url("../fonts/HeliosExtC_Bold.otf");
  font-weight: 700;
  font-style: normal;
}
a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.lock {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1670px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 46px;
}
.header__logo {
  flex: 1 1 auto;
  width: 28px;
  height: 28px;
}
.header-menu {
  display: flex;
  gap: 45px;
}
.header-menu__text {
  position: relative;
  color: #FFF;
  font-family: "Plus Jakarta Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.header-menu__text:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #00DBDE;
  left: 0;
  bottom: -8px;
  transform: scaleX(0);
  transition: transform 0.25s;
  transform-origin: left;
}
.header-menu__text:hover:before {
  transform: scaleX(1);
  transition: transform 0.25s;
}

@media (max-width: 1000px) {
  .burger-backdrop {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.35);
  }
  .burger-backdrop.active {
    display: block;
  }
  .header-content {
    padding: 40px 5px 0 5px;
  }
  .header-burger {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 7px;
    order: 2;
  }
  .header-burger__span-top {
    height: 2px;
    width: 32px;
    background: #FFFFFF;
    z-index: 13;
    transition: all 0.3s ease-in-out;
  }
  .header-burger__span-middle {
    margin-left: 15px;
    height: 2px;
    width: 17px;
    background: #FFFFFF;
    z-index: 13;
    transition: all 0.3s ease-in-out;
  }
  .header-burger__span-bottom {
    margin-left: 7px;
    height: 2px;
    width: 24px;
    background: #FFFFFF;
    z-index: 13;
    transition: all 0.3s ease-in-out;
  }
  .header .header-burger_shift {
    margin-right: 17px;
  }
  .header .header-burger.active .header-burger__span-middle {
    opacity: 0;
  }
  .header .header-burger.active .header-burger__span-top {
    transform: translateY(8px) translateX(5px) rotate(45deg);
  }
  .header .header-burger.active .header-burger__span-bottom {
    width: 32px;
    transform: translateY(-8px) translateX(-4px) rotate(-45deg);
  }
  .header-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 39%;
    height: 100%;
    background-color: #1B1B1B;
    padding: 100px 100px 100px 50px;
    transition: right 0.3s ease 0s;
    overflow: auto;
    display: flex;
    flex-direction: column;
    z-index: 12;
  }
  .header .active {
    right: 0;
  }
  .header .remove {
    right: -100%;
  }
}
.shared__background {
  background-image: url(../img/shared/background.png);
  background-size: cover;
  width: 100%;
  height: 1050px;
}
.shared-content {
  padding-top: 325px;
}
.shared__border {
  margin-top: 183px;
  border-left: solid;
  width: 480px;
  height: 6px;
  transform: rotate(90deg) translateY(230px);
  border-radius: 41px;
  background: #7F5CFF;
  box-shadow: 0px 0px 17px 0px rgba(191, 58, 255, 0.4);
  background-image: url(../img/shared/brush.svg);
}
.shared-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 100px;
  transform: translateY(-200px);
}
.shared-info__title {
  color: #FFF;
  font-family: "Plus Jakarta Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 28px */
  text-transform: uppercase;
  opacity: 0.7;
}
.shared-info__subtitle {
  color: #FFF;
  font-family: "HeliosExtC";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 67.2px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
  padding-top: 16px;
  max-width: 753px;
}
.shared-info__subtitle span {
  display: inline-block;
  background-image: url(../img/shared/plain.svg);
  height: 46px;
  width: 46px;
}
.shared-info__button {
  margin-top: 65px;
  width: 209px;
  height: 60px;
  padding: 16px 24px;
  border-radius: 6px;
  border: 0px solid rgba(255, 255, 255, 0.56);
  background: linear-gradient(99deg, #7A42F4 0%, #4642F4 100%), #FFF;
  transition: all 0.5s ease;
}
.shared-info__button-text {
  color: #FFF;
  font-family: "HeliosBlackC";
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 145%;
  /* 26.1px */
}
.shared-info__button:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

@media (max-width: 700px) {
  .shared__background {
    background-image: url(../img/shared/mobile/background-mobile.png);
    background-size: cover;
    width: 100%;
    height: 1050px;
  }
}
.about__background {
  background-image: url(../img/about/background.png);
  background-size: cover;
  width: 100%;
  height: 1038px;
}/*# sourceMappingURL=style.css.map */