@import "./nullstyle.scss";

@font-face {
    font-family: 'HeliosBlackC';
    src: local('Alethia Next Light'), local('AlethiaNext-Light'),
        url('../fonts/HeliosBlackC_Regular.otf');
    // url('../fonts/HeliosBlackC.eot') format('embedded-opentype'),
    // url('../fonts/HeliosBlackC.woff') format('woff'),
    // url('../fonts/HeliosBlackC.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

    font-family: 'HeliosExtC';
    src: local('Alethia Next Light'), local('AlethiaNext-Light'),
        url('../fonts/HeliosExtC_Regular.otf');
    //  url('../fonts/HeliosExtC.eot') format('embedded-opentype'),
    // url('../fonts/HeliosExtC.woff') format('woff'),
    // url('../fonts/HeliosExtC.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

    font-family: 'HeliosExtC';
    src: local('Alethia Next Light'), local('AlethiaNext-Light'),
        url('../fonts/HeliosExtC_Bold.otf');
    //  url('../fonts/HeliosExtC.eot') format('embedded-opentype'),
    // url('../fonts/HeliosExtC.woff') format('woff'),
    // url('../fonts/HeliosExtC.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

//////////////////////////////

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.lock {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1660px;
    margin: 0 auto;
    padding: 0 20px;
}

////////////////////////////////
////////////////////////////////
////////////////////////////////

.header_background {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    width: 100%;
    z-index: 12;
    transition: all 0.5s;
    padding-bottom: 30px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;


    &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 46px;
    }

    // &__burger {
    //     display: none;
    // }

    &__logo {
        flex: 1 1 auto;
        width: 28px;
        height: 28px;
    }

    &-menu {
        display: flex;
        align-items: center;
        gap: 45px;

        &__text {
            position: relative;
            color: #FFF;
            opacity: 0.7;
            font-family: 'Plus Jakarta Display';
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            transition: all 0.25s ease;

            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                background-color: #00DBDE;
                left: 0;
                bottom: -8px;
                transform: scaleX(0);
                transition: transform 0.25s;
                transform-origin: left;
            }

            &:hover::before {
                transform: scaleX(1);
                transition: transform 0.25s;
            }
        }

        &__text:hover {
            opacity: 1;
            transition: all 0.25s ease;
        }
    }

}

@media (max-width: 1000px) {
    .burger-backdrop {
        display: none;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 9;
        background-color: rgba(0, 0, 0, 0.75);
    }

    .burger-backdrop.active {
        display: block;
    }

    .header {
        &-content {
            padding: 40px 5px 0 5px;
        }

        &-burger {
            position: relative;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 7px;
            order: 2;

            &__span-top {
                height: 2px;
                width: 32px;
                background: #FFFFFF;
                z-index: 13;
                -webkit-transition: all 0.3s easy--in-out;
                transition: all 0.3s ease-in-out;
            }

            &__span-middle {
                margin-left: 15px;
                height: 2px;
                width: 17px;
                background: #FFFFFF;
                z-index: 13;
                -webkit-transition: all 0.3s easy--in-out;
                transition: all 0.3s ease-in-out;
            }

            &__span-bottom {
                margin-left: 7px;
                height: 2px;
                width: 24px;
                background: #FFFFFF;
                z-index: 13;
                -webkit-transition: all 0.3s easy--in-out;
                transition: all 0.3s ease-in-out;
            }
        }

        // .header-burger_shift {
        //     margin-right: 17px;
        // }

        .header-burger.active .header-burger__span-middle {
            opacity: 0;
        }

        .header-burger.active .header-burger__span-top {
            margin-left: -1px;
            width: 28px;
            transform: translateY(8px) translateX(5px) rotate(45deg);
        }

        .header-burger.active .header-burger__span-bottom {
            margin-left: 8px;
            width: 28px;
            transform: translateY(-8px) translateX(-4px) rotate(-45deg);
        }


        &-menu {
            position: fixed;
            top: 0;
            right: -100%;
            width: 39%;
            height: 100%;
            background-image: url(../img/header/burger-background.webp), url(../img/header/burger-background.png);
            background-size: cover;
            padding: 100px 100px 100px 50px;
            transition: right 0.3s ease 0s;
            overflow: auto;
            display: flex;
            flex-direction: column;
            z-index: 12;
            align-items: start;

            &__link {
                // width: 100%;
                // max-width: 100px;
            }

            &__text {
                // width: 100%;
                // max-width: 100px;
            }
        }

        .active {
            right: 0;
        }

        .remove {
            right: -100%;
        }
    }

}

@media (max-width: 768px) {
    .header {
        &-menu {
            width: 50%;
        }
    }
}

@media (max-width: 540px) {
    .header {
        &-menu {
            width: 100%;
        }
    }
}

////////////////////////////////
////////////////////////////////
////////////////////////////////

.shared {
    z-index: 1;

    &__background {
        background-image: url(../img/shared/background.webp), url(../img/shared/background.png);
        background-size: cover;
        width: 100%;
        height: 1010px;
        z-index: -3;
    }

    &-blurs {
        position: relative;
        z-index: 1;
        // overflow: hidden;
    }

    &-blur__first {
        position: absolute;
        width: 1847px;
        height: 1172px;
        top: -255px;
        right: 35%;
        max-width: 100%;
        vertical-align: top;
        overflow: clip;
        // width: 859.184px;
        // height: 372.671px;
        // transform: rotate(34.59deg);
        // border-radius: 859.184px;
        // opacity: 0.5;
        // background: var(--1, linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%));
        // filter: blur(218px);
        // position: absolute;
        // top: 155px;
        // left: 180px;
        // z-index: -1;
    }

    &-blur__second {
        position: absolute;
        width: 840px;
        height: 543px;
        top: -100px;
        left: -207px;
        max-width: 100%;
        vertical-align: top;
        overflow: clip;
        // width: 147px;
        // height: 147px;
        // border-radius: 1000px;
        // background: #7A59FF;
        // filter: blur(149.5px);
        // position: absolute;
        // top: 80px;
        // left: 50px;
        // z-index: -1;
    }

    &-blur__third {
        position: absolute;
        width: 840px;
        height: 543px;
        top: 620px;
        left: -57px;
        max-width: 100%;
        vertical-align: top;
        overflow: clip;
        // width: 378px;
        // height: 378px;
        // border-radius: 1000px;
        // background: #25044E;
        // filter: blur(100px);
        // position: absolute;
        // top: 700px;
        // // bottom: 0px;
        // left: 50px;
        // z-index: -1;
    }

    &-blur__fourth {
        // width: 859.184px;
        // height: 372.671px;
        // transform: rotate(166.457deg);
        // border-radius: 859.184px;
        // opacity: 0.2;
        // background: #A109FE;
        // filter: blur(218px);
        // position: absolute;
        // top: 700px;
        // // bottom: 0px;
        // right: -100px;
        // z-index: -1;
        position: absolute;
    width: 1249px;
    height: 888px;
    top: 444px;
    right: -131px;
    max-width: 100%;
        vertical-align: top;
        overflow: clip;
    }

    /////////////////

    &-content {
        padding-top: 325px;
        margin-bottom: 0px;
    }

    &-info {
        margin-top: 150px;
        border-left: 6px solid #7F5CFF;
        background-image: url(../img/shared/brush.svg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        padding-left: 61px;
        transform: translateY(-200px);
        max-width: 1348px;


        &__title {
            color: #FFF;
            font-family: 'Plus Jakarta Display';
            font-size: clamp(16px, 2.5vw, 20px);
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            /* 28px */
            text-transform: uppercase;
            opacity: 0.7;
            padding-top: 15px;
        }

        &__subtitle {
            color: #FFF;
            font-family: 'HeliosExtC';
            font-size: clamp(26px, 2.5vw, 48px);
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
            /* 67.2px */
            letter-spacing: 0.48px;
            text-transform: uppercase;
            padding-top: 16px;
            max-width: 753px;

            &-span-desctop {
                display: inline-block;
                background-image: url(../img/shared/plain.svg);
                height: 46px;
                width: 46px;
            }

            &-span-mobile {
                display: none;
            }
        }

        &__button {
            margin-top: 65px;
            margin-bottom: 25px;
            width: 209px;
            height: 60px;
            padding: 16px 24px;
            border-radius: 6px;
            border: 0px solid rgba(255, 255, 255, 0.56);
            background: linear-gradient(99deg, #7A42F4 0%, #4642F4 100%), #FFF;
            transition: all 0.5s ease;



            &-text {
                color: #FFF;
                font-family: 'HeliosBlackC';
                font-size: clamp(16.219px, 2.5vw, 18px);
                font-style: normal;
                font-weight: 900;
                line-height: 145%;
                /* 26.1px */
            }
        }

        &__button:hover {
            transform: scale(1.1);
            transition: all 0.5s ease;
        }
    }
}


@media (max-width: 700px) {
    .shared {
        &__background {
            background-image: url(../img/shared/mobile/background-mobile.webp), url(../img/shared/mobile/background-mobile.png);
            background-size: cover;
            width: 100%;
            max-height: 787px;
            // height: 1050px;
        }

        &-content {
            padding-top: 265px;
        }

        &-info {
            padding-left: 19px;

            &__button {
                margin-top: 12px;
                width: 188.32px;
                height: 54.063px;
            }

            &__subtitle {
                &-span-desctop {
                    display: none;
                }

                &-span-mobile {
                    display: inline-block;
                    background-image: url(../img/shared/mobile/plain.svg);
                    width: 28.162px;
                    height: 28.162px;
                }
            }
        }
    }
}


////////////////////////////////
////////////////////////////////
////////////////////////////////

.about {
    &__background {
        background-image: url(../img/about/background.webp), url(../img/about/background.png);
        background-size: cover;
        width: 100%;
        height: 1038px;
    }

    &-content {
        padding-top: 250px;
        display: flex;
        flex-direction: column;
    }

    &__people {
        display: none;
    }

    &-info {

        height: 585px;
        border-left: 6px solid #56FFEB;
        background-image: url(../img/shared/brush.svg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        padding-left: 61px;
        // transform: translateY(-200px);
        max-width: 669px;
        position: relative;

        &__title {
            padding-top: 55px;
            color: #FFF;
            font-family: 'Plus Jakarta Display';
            font-size: clamp(16px, 2.5vw, 20px);
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            /* 28px */
            text-transform: uppercase;
            opacity: 0.7;
        }

        &__subtitle {
            color: #FFF;
            text-align: left;
            font-family: 'HeliosExtC';
            font-size: clamp(28px, 2.5vw, 45px);
            font-style: normal;
            font-weight: 700;
            line-height: 109%;
            /* 49.05px */
            text-transform: uppercase;
            padding-top: 16px;
            padding-bottom: 27px;
        }
    }

    &-swiper {
        // max-width: 622px;
        width: 100%;
        // overflow: visible ; 
        // !important
    }

    &-wrapper {
        width: 100%;
    }

    &-slide {
        width: 100%;

        p {
            color: #FFF;
            font-family: 'Plus Jakarta Display';
            font-size: clamp(16px, 2.5vw, 20px);
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
            /* 32px */
            opacity: 0.8;
            max-width: 612px;
        }
    }

    &__navigation {
        padding-top: 100px;
        max-width: 380px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-prev {
            cursor: pointer;
        }

        &-next {
            cursor: pointer;
        }

        &-text {
            color: #FFF;
            font-family: 'HeliosExtC';
            font-size: clamp(16px, 2.5vw, 18px);
            font-style: normal;
            font-weight: 700;
            line-height: 145%;
            /* 26.1px */
            text-transform: uppercase;
        }
    }

    // .swiper-pagination-progressbar{
    //     position: absolute;
    //     top: 70%;
    //     left: 0;
    // }
    &__pagination {
        // max-width: 380px;

        --swiper-theme-color: #7F5CFF;
        --swiper-navigation-size: 10px;
        // transform: translate();
    }

    &__pagination-ellipse {
        position: absolute;
        // top: -65px;
        left: 8.8%;
        bottom: 8.5%;
        width: 30px;
        height: 30px;
    }

    .swiper-pagination-progressbar.swiper-pagination-horizontal {
        top: unset;
        bottom: 11%;
        left: 12%;
        width: 58%;
        z-index: 1;

    }
}

@media (max-width: 800px) {
    .about {
        .swiper-pagination-progressbar.swiper-pagination-horizontal {
            top: unset;
            bottom: 18%;
            left: 13%;
            width: 58%;

        }

        &__pagination-ellipse {
            bottom: 15.5%;
        }
    }
}

@media (max-width: 700px) {
    .about {
        &-info {
            padding-left: 19px;
        }

        .swiper-pagination-progressbar.swiper-pagination-horizontal {
            left: 8%;
        }

        &__pagination-ellipse {
            left: 4.8%;
        }
    }
}

@media (max-width: 650px) {
    .about {
        .swiper-pagination-progressbar.swiper-pagination-horizontal {
            top: unset;
            bottom: 18%;
            left: 8.5%;
            width: 65%;

        }
    }
}

@media (max-width: 600px) {
    .about {
        .swiper-pagination-progressbar.swiper-pagination-horizontal {
            top: unset;
            bottom: 18%;
            left: 9%;
            width: 80%;

        }
    }
}

@media (max-width: 500px) {
    .about {
        .swiper-pagination-progressbar.swiper-pagination-horizontal {
            top: unset;
            bottom: 14%;
            left: 9.5%;
            width: 88%;

        }

        &__pagination-ellipse {
            bottom: 12%;
            left: 4%;
        }
    }
}

@media (max-width: 390px) {
    .about {

        &__background {
            background-image: none;
            background-color: #01001F;
            height: 1078px;
            ;
        }

        &-content {
            padding-top: 0;
            position: relative;
        }

        &__people {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            // height: 400px;
            // background-image: url(../img/about/people.png);

            img {

                width: 100%;

            }
        }

        &-info {
            margin-top: 444px;

            &__title {
                padding-top: 0;
            }
        }

        .swiper-pagination-progressbar.swiper-pagination-horizontal {
            top: unset;
            bottom: 13.5%;
            left: 13.5%;
            width: 84%;

        }

        &__pagination-ellipse {
            bottom: 11.5%;
            left: 8%;
            width: 25.872px;
            height: 25.872px;
        }

        &__navigation {
            padding-top: 62px;
        }

    }
}

@media (max-width: 350px) {
    .about {
        .swiper-pagination-progressbar.swiper-pagination-horizontal {
            left: 14.5%;
        }

        &__navigation {
            padding-top: 82px;
        }
    }
}

//////////////////////////////
//////////////////////////////
//////////////////////////////

.roadmap {

    &-background {
        background: #090812;
        // padding-bottom: 210px;
    }

    &__title {
        padding-top: 215px;
        color: #FFF;
        text-align: center;
        font-family: 'Plus Jakarta Display';
        font-size: clamp(16px, 2.5vw, 20px);
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 28px */
        text-transform: uppercase;
    }

    &__subtitle {
        padding-top: 16px;
        color: #FFF;
        text-align: center;
        font-family: 'HeliosExtC';
        font-size: clamp(28px, 2.5vw, 45px);
        font-style: normal;
        font-weight: 700;
        line-height: 109%;
        /* 49.05px */
        text-transform: uppercase;
    }

    &-content {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 190px;
        position: relative;
        // grid-template-columns: repeat(1fr);

    }

    &__stars {
        position: absolute;
        top: 6%;
        left: 47%;
        transform: translateX(-53%);
    }

    &-item-first {
        display: flex;
        padding: 90px 0 0 70px;
    }

    &-item-second {
        display: flex;
        // justify-content: right;
        justify-content: end;
        padding: 76px 55px 0 0;

        .roadmap-item-circle {
            order: 1;
        }

        .roadmap-item-wrapper {
            order: 2;
        }
    }

    &-item-third {
        display: flex;
        padding: 10px 0 0 45px;
    }

    &-item-fourth {
        display: flex;
        // justify-content: right;
        justify-content: end;
        padding: 208px 10px 0px 0;


        .roadmap-item-circle {
            order: 1;
        }

        .roadmap-item-wrapper {
            order: 2;
        }
    }

    &-item-info {
        display: flex;
        flex-direction: column;
        max-width: 450px;
        position: relative;


        &__title {
            color: #FFF;
            font-family: 'Plus Jakarta Display';
            font-size: clamp(20px, 2.5vw, 22px);
            font-style: normal;
            font-weight: 700;
            line-height: 127%;
            padding-top: 4px;
            /* 30.8px */
        }

        &-textblock {
            padding-top: 5px;

            &__text {
                padding-top: 15px;
                padding-left: 37px;
                color: #FFF;
                font-family: 'Plus Jakarta Display';
                font-size: clamp(15px, 2.5vw, 18px);
                font-style: normal;
                font-weight: 400;
                line-height: 119%;
                /* 25.2px */
                letter-spacing: 0.18px;
                opacity: 0.8;
                position: relative;
            }

            &__text::before {
                content: "";
                background-image: url(../img/roadmap/for-text.svg);
                width: 24px;
                height: 24px;
                position: absolute;
                top: 15px;
                left: 0px;
            }

            &__text:last-child {
                margin-bottom: 23px;
            }

            li {
                // padding-top: 15px;
                padding-left: 60px;
                color: #FFF;
                font-family: 'Plus Jakarta Display';
                font-size: clamp(15px, 2.5vw, 18px);
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                /* 25.2px */
                letter-spacing: 0.18px;
                opacity: 0.8;
                position: relative;
            }

            li:before {
                content: '.';
                position: absolute;
                bottom: 15%;
                left: 7%;
            }
        }


        &-nav {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 9px;
            cursor: pointer;

            &__text {
                color: #FFF;
                font-family: 'HeliosExtC';
                font-size: clamp(16px, 2.5vw, 18px);
                font-style: normal;
                font-weight: 700;
                line-height: 145%;
                /* 26.1px */
                text-transform: capitalize;

            }

            &__arrow {
                padding-top: 5px;

                &-img {
                    transition: transform 0.5s ease;
                }
            }
        }

        &__content {
            max-height: 0;
            overflow: hidden;
            transition: 0.5s ease-in-out;
            position: absolute;
            top: 100%;

            &-text {
                padding-top: 15px;
                padding-left: 37px;
                color: #FFF;
                font-family: 'Plus Jakarta Display';
                font-size: clamp(15px, 2.5vw, 18px);
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                /* 25.2px */
                letter-spacing: 0.18px;
                opacity: 0.8;
                position: relative;
            }

            &-text::before {
                content: "";
                background-image: url(../img/roadmap/for-text.svg);
                width: 24px;
                height: 24px;
                position: absolute;
                top: 15px;
                left: 0px;

            }
        }
    }

    .roadmap-item-info.active .roadmap-item-info__content {
        max-height: 300px;
        animation: fade 0.5s ease-in-out;
    }

    .roadmap-item-info.active .roadmap-item-info-nav__arrow-img {
        transform: rotate(180deg);
        transition: transform 0.5s ease;
    }

    @keyframes fade {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    &-item-circle {
        position: relative;

        &__pulse {
            position: relative;
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }

        .pulse_first {
            background: rgb(131, 48, 254);
            margin: 25px 0px 0 0px;
        }

        .pulse_second {
            background: rgb(255, 134, 255);
            margin-right: 65px;
        }

        .pulse_third {
            background: rgb(65, 251, 191);
            margin: 17px 0 0 35px;
        }

        .pulse_fourth {
            background: rgb(72, 132, 255);
            margin: 25px 60px 0 0;
        }

        &__pulse span {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: .8;
            background: inherit;
            border-radius: inherit;
            animation: pulseAnimate 4s ease-in-out infinite;
            animation-delay: calc(1s * var(--i));
        }

        @keyframes pulseAnimate {
            100% {
                opacity: 0;
                transform: scale(2);
            }
        }

        &__pulse-center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            z-index: 3;
            opacity: 0.5;
        }

        .pulse-center_first {
            background: rgb(255, 222, 255);
        }

        .pulse-center_second {
            background: rgb(255, 236, 255);
        }

        .pulse-center_third {
            background: rgb(235, 255, 255);
        }

        .pulse-center_fourth {
            background: rgb(233, 255, 255);
        }

        &__pulse-around-center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 60px;
            height: 60px;
            border-radius: 50%;
            z-index: 3;
            opacity: 0.5;
        }

        .pulse-around-center_first {
            background: rgb(223, 90, 255);
        }

        .pulse-around-center_second {
            background: rgb(253, 155, 235);
        }

        .pulse-around-center_third {
            background: rgb(141, 255, 255);
        }

        .pulse-around-center_fourth {
            background: rgb(135, 237, 255);
        }

    }
}

@media (max-width: 1240px) {
    .roadmap {
        &-item-info {
            &__content {
                position: static;
            }
        }

        &-item-third {
            padding: 60px 0 0 45px;
        }

        &-item-fourth {
            padding: 50px 10px 0px 0;
        }
    }
}

@media (max-width: 768px) {
    .roadmap {
        &-content {
            padding-bottom: 160px;
        }

        &-item-circle__pulse {
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        &-item-circle__pulse-center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            z-index: 3;
            opacity: 0.5;
        }

        &-item-circle__pulse-around-center {
            width: 30px;
            height: 30px;

        }

        &-item-info-textblock {
            padding-top: 10px;

            &__text {
                padding-top: 17.96px;
            }

            li:before {
                content: '.';
                position: absolute;
                bottom: 16%;
                left: 12%;
            }
        }

        &-item-first {
            flex-direction: column;
            padding: 18px 0 0 0;

            .roadmap-item-circle {
                display: flex;
                justify-content: end;
                order: 1;

                .pulse_first {
                    background: rgb(131, 48, 254);
                    margin: 50px 63px 0 0px;
                }
            }

            .roadmap-item-info {
                padding-top: 0;
                order: 2;

                &__title {
                    padding-top: 8px;
                }

            }
        }

        &-item-wrapper {
            display: flex;
            justify-content: end;
        }

        &-item-second {
            flex-direction: column-reverse;
            padding: 70px 0px 0 0;
            width: 100%;

            .roadmap-item-circle {
                .pulse_second {
                    background: rgb(255, 134, 255);
                    margin: 0px 0px 0px 60px;
                }
            }

            .roadmap-item-wrapper {
                order: 1;
            }

            .roadmap-item-info {
                justify-content: end;
                padding-top: 40px;

            }
        }

        &-item-third {
            flex-direction: column;
            padding: 27px 0 0 0px;

            .roadmap-item-circle {
                display: flex;
                justify-content: end;
                order: 1;

                .pulse_third {
                    background: rgb(65, 251, 191);
                    margin: 0px 60px 0 0px;
                }
            }

            .roadmap-item-info {
                order: 2;
                padding-top: 40px;
            }
        }

        &-item-fourth {
            flex-direction: column-reverse;
            padding: 50px 0px 0px 0;

            .roadmap-item-circle {
                .pulse_fourth {
                    background: rgb(72, 132, 255);
                    margin: 22px 0px 0 45px;
                }
            }

            .roadmap-item-wrapper {
                order: 1;
            }

            .roadmap-item-info {
                justify-content: end;
                padding-top: 56px;
            }
        }
    }
}

@media (max-width: 390px) {
    .roadmap {
        &__title {
            padding-top: 95px;
        }

        &__stars {
            width: 100%;
        }
    }
}

//////////////////////////////
//////////////////////////////
//////////////////////////////

.brands {
    background: linear-gradient(180deg, rgba(36, 10, 92, 0.63) 8.97%, rgba(36, 11, 88, 0.30) 100%);
    backdrop-filter: blur(150px);
    background-color: #18072d;
    width: 100%;
    height: auto;
    // transform: rotate(90deg);

    &-background {
        background-image: url(../img/brands/brush-background.webp), url(../img/brands/brush-background.png);
    }

    &__title {
        padding-top: 108px;
        color: #FFF;
        text-align: center;
        font-family: 'Plus Jakarta Display';
        font-size: clamp(16px, 2.5vw, 20px);
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 28px */
        text-transform: uppercase;
    }

    &__subtitle {
        padding-top: 22px;
        color: #FFF;
        text-align: center;
        font-family: 'HeliosExtC';
        font-size: clamp(28px, 2.5vw, 45px);
        font-style: normal;
        font-weight: 700;
        line-height: 109%;
        /* 49.05px */
        text-transform: uppercase;
    }

    &-content {
        padding-top: 90px;
        display: flex;
        justify-content: space-between;
        max-width: 1350px;
        width: 100%;
        margin: 0 auto;
        gap: 15px;
    }

    &-item {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        // padding: 0 15px;

        &__img {
            max-width: 100%;
            cursor: pointer;
            transition: all 0.5s ease-in;
        }

        &__img:hover {
            transform: translateY(-50px);
            transition: all 0.5s ease-in;
        }

        &__title::after {
            content: '';
            position: absolute;
            top: 65px;
            left: 0;
            width: 100%;
            height: 6px;
            border-radius: 48px;
            background: #06D6DF;
            box-shadow: 0px 0px 4px 0px rgba(56, 219, 255, 0.50);
        }

        &__title::before {
            content: '';
            position: absolute;
            top: 65px;
            transform: rotate(180deg);
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 1px;
            background: linear-gradient(359deg, rgba(56, 219, 255, 0.14) 0.58%, rgba(56, 219, 255, 0.00) 42.57%);
            // background-image: url(/img/brands/first-item-textLight.png);
        }


        &__title {
            padding-top: 118px;
            color: #FFF;
            text-align: center;
            font-family: 'HeliosExtC';
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
            /* 22.4px */
            text-transform: uppercase;
            width: 100%;
            position: relative;
        }

        &__text {
            padding-top: 7px;
            color: #FFF;
            text-align: center;
            font-family: 'Plus Jakarta Display';
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 160%;
            /* 28.8px */
            letter-spacing: 0.18px;
            max-width: 385px;
            opacity: 0.6;
            padding-bottom: 135px;
        }

    }

    &-item:nth-child(2) {
        .brands-item__title {
            padding-top: 126px;
        }

        .brands-item__title::after {
            top: 75px;
            background: #7B71EE;
        }

        .brands-item__title::before {
            top: 75px;
        }
    }

    &-item:nth-child(3) {
        .brands-item__title {
            padding-top: 118px;
        }

        .brands-item__title::after {
            background: #F00AFE;
        }

        .brands-item__text {
            padding-top: 30px;
        }
    }
}

@media (max-width: 1224px) {
    .brands {
        &-content {
            flex-wrap: wrap;
            justify-content: space-around;
        }

        &-item {
            &__img:hover {
                transform: translateY(0px);
            }

            &__text {
                padding-bottom: 44px;
            }
        }
    }
}

@media (max-width: 420px) {
    .brands {
        &__title {
            padding-top: 75px;
        }

        &__subtitle {
            padding-top: 16px;
        }

        &-content {
            padding-top: 68px;
            gap: 0;
        }

        &-item {
            &__title::after {
                top: 55px;
            }

            &__title::before {
                top: 55px;
            }

            &__title {
                padding-top: 91px;
            }

            &__text {
                padding-top: 13px;
            }
        }

        &-item:nth-child(2) {
            .brands-item__title::after {
                top: 70px;
            }

            .brands-item__title::before {
                top: 75px;
            }

            .brands-item__title {
                padding-top: 107px;
            }

            .brands-item__text {
                padding-top: 13px;
            }
        }

        &-item:nth-child(3) {
            .brands-item__title::after {
                top: 63px;
            }

            .brands-item__title::before {
                top: 65px;
            }

            .brands-item__title {
                padding-top: 100px;
            }

            .brands-item__text {
                padding-top: 13px;
                padding-bottom: 65px;
            }
        }
    }
}

//////////////////////////////
//////////////////////////////
//////////////////////////////

